$color-primary: #51d8ee;
$color-secondary: #b1cbd1;
$color-tertiary: #bbc5ea;
$color-background: #191c1d;
$color-surface: #2d3132;
$color-surface-2: #383c3d;
$color-error: #ffb4a9;
$color-outline: #899294;

$color-primary--text: #00363e;
$color-secondary--text: #1c3439;
$color-tertiary--text: #252f4c;
$color-background--text: #e1e3e3;
$color-surface--text: #e1e3e3;
$color-error--text: #680003;
