@use 'variables' as v;
@use './components/button';
@use './components/table';
@use './components/exercises-accordion';
@use './components/add-workout-modal';

html {
	height: 100vh;
	body {
		height: 100vh;
		background-color: v.$color-background;
		color: v.$color-background--text;
		svg {
			fill: currentColor;
		}

		.navbar {
			background-color: v.$color-primary;
			color: v.$color-primary--text;
			padding: 5px;
			z-index: 1030;

			@media (max-width: 575px) {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}

		.main-container {
			margin-top: 65px !important;

			@media (max-width: 575px) {
				margin-top: 55px !important;
			}
		}

		.footer {
			background-color: v.$color-background;
			color: v.$color-background--text;

			@media (max-width: 575px) {
				.btn {
					width: 100%;
				}
			}
		}
	}
}
